@import '../../shared/style/_variables.scss';

.vertical-timeline-element-content {
  .vertical-timeline-element-title {
    color: $black;
    font-size: 1.8rem;
  }

  .vertical-timeline-element-subtitle {
    color: $blackText;
    font-style: italic;
  }

  .vertical-timeline-element-date {
    font-size: 1.2rem;
    color: $black;

    @media (width >= $twoProjects) {
      color: $white;
      margin: 0 2rem;
      font-size: 1.6rem !important;
    }
  }
}

.show-all-projects {
  color: skyblue;
  font-size: 1.8rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;

  &:hover {
    color: lightblue;
  }
}
