@import '../../shared/style/_variables.scss';

.tag {
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1rem;
  color: $black;
  margin: 0.3rem 0.3rem 0.3rem 0;
  font-size: 1rem;
  cursor: pointer;
  background-color: $silver;
}
