@import '../../shared/style/_variables.scss';

.logo {
  font-size: 3rem;
  margin: 0 1rem 1rem;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  color: $white;
  z-index: 100;

  @media (width >= $md) {
    position: sticky;
    top: 0.5rem;
    mix-blend-mode: difference;
  }
}

.primary-header {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  background-color: $black;

  .primary-nav {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      display: flex;
      list-style-type: none;
      width: 60%;
      justify-content: space-around;
      align-items: center;
      margin-top: 2.4rem;

      li {
        a {
          text-decoration: none;
          font-size: 1.6rem;
          text-transform: uppercase;
          color: $white;
          padding: 3rem 2.5vw;
          transition: all 0.5s;

          &:hover {
            background-color: $white;
            color: $black;
          }
        }
      }

      @media (width < $xs) {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
        width: 70%;
        height: 100vh;
        background-color: $blackText;
        z-index: 1000;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 12rem;
        gap: 3rem;
        translate: 100%;
        transition: translate 0.4s;

        &.open {
          translate: 0%;
        }

        li {
          width: 100%;
          text-align: center;

          a {
            display: block;
            padding: 1rem;
          }
        }
      }
    }

    .hamburger-react {
      display: none;
      color: $white;

      @media (width < $xs) {
        display: block;
        margin-right: 1rem;
        z-index: 10000;
      }
    }
  }
}
