@import './shared/style/_variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
}

section {
  padding-block: 3rem;
  text-align: justify;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.4rem;
  max-width: 100vw;
  overflow: hidden;

  .wrapper {
    /* stylelint-disable-next-line csstree/validator */
    width: clamp(70%, 80%, 1280px);
    margin-inline: auto;
    overflow-x: hidden;

    @media (width >= $md) {
      width: 50%;
    }

    h2 {
      font-size: 3.6rem;
      padding-block: 1.6rem;
    }

    p {
      padding-block: 1.2rem;
      font-size: 1.4rem;
    }
  }

  &#projects {
    position: relative;
  }

  &#about {
    background: $white;
    color: $black;
  }

  &#skills {
    background-color: $silver;
    color: $black;
    text-align: center;

    .wrapper {
      all: unset;
      /* stylelint-disable-next-line csstree/validator */
      width: clamp(70%, 80%, 1280px);
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;

      h3 {
        font-size: 2rem;
        rotate: -6deg;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 1.6rem;
        list-style-type: none;
        margin-bottom: 2rem;
        row-gap: 5rem;

        > * {
          flex-basis: 25%;
        }

        &:last-child {
          > * {
            flex-basis: 33%;
          }
        }

        svg {
          font-size: 5rem;
        }

        object {
          width: 5rem;
        }

        li {
          svg {
            transition: color 1s, background-color 1s;

            &:hover {
              color: #333 !important;
              background-color: transparent;
            }
          }

          object {
            transition: filter 1s;

            &:hover {
              filter: invert(20%) sepia(5%) saturate(0%) hue-rotate(206deg) brightness(92%) contrast(97%) !important;
            }
          }

          &.html5 svg {
            color: hsl(15, 79%, 52%);
          }

          &.css3 svg {
            color: hsl(207, 77%, 40%);
          }

          &.sass svg {
            color: hsl(326, 50%, 60%);
          }

          &.javascript svg {
            background-color: hsl(0, 0%, 0%);
            color: hsl(58, 92%, 56%);
          }

          &.node svg {
            color: hsl(120, 56%, 39%);
          }

          &.ruby object {
            filter: invert(21%) sepia(19%) saturate(7229%) hue-rotate(342deg) brightness(123%) contrast(93%);
          }

          &.python svg {
            color: hsl(209, 49%, 47%);
          }

          &.php svg {
            color: hsl(232, 25%, 57%);
          }

          &.react svg {
            color: hsl(197, 89%, 67%);
          }

          &.redux object {
            filter: invert(29%) sepia(99%) saturate(964%) hue-rotate(238deg) brightness(87%) contrast(86%);
          }

          &.rails object {
            filter: invert(14%) sepia(61%) saturate(6497%) hue-rotate(3deg) brightness(82%) contrast(122%);
          }

          &.react-native svg {
            color: hsl(197, 89%, 67%);
          }

          &.postgresql object {
            filter: invert(37%) sepia(18%) saturate(1574%) hue-rotate(165deg) brightness(91%) contrast(87%);
          }

          &.puppeteer object {
            filter: invert(31%) sepia(79%) saturate(438%) hue-rotate(165deg) brightness(95%) contrast(83%);
          }

          &.git svg {
            color: hsl(10, 87%, 54%);
          }

          &.jest object {
            filter: invert(11%) sepia(86%) saturate(5161%) hue-rotate(348deg) brightness(93%) contrast(93%);
          }

          &.mocha object {
            filter: invert(44%) sepia(18%) saturate(901%) hue-rotate(345deg) brightness(92%) contrast(95%);
          }
        }
      }
    }
  }

  &#contact {
    background: $black;
    color: $silver;
  }
}
