@import './shared/style/_variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
}

section {
  padding-block: 3rem;
  text-align: justify;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.4rem;

  .wrapper {
    /* stylelint-disable-next-line csstree/validator */
    width: min(100% - 3rem, 65ch);
    margin-inline: auto;

    @media (width >= $md) {
      width: 50%;
    }

    h2 {
      font-size: 3.6rem;
      padding-block: 1.6rem;
    }

    p {
      padding-block: 1.2rem;
      font-size: 1.4rem;
    }
  }

  &:nth-child(even) {
    background: $white;
    color: $blackText;
  }

  &:nth-child(odd) {
    background: $black;
    color: $whiteText;
  }

  &.hero {
    height: calc(100vh - 4.5rem);

    h2 {
      font-size: 2.8rem;
      text-align: center;
    }

    p {
      font-size: 1.8rem;
    }

    @media (width <= $md) {
      height: 100vh;
    }
  }

  &#projects {
    position: relative;

    @media (width >= $md) {
      justify-content: flex-end;

      .wrapper {
        margin: 0;
        width: 70%;
      }
    }
  }
}
